@import "https://fonts.googleapis.com/css2?family=DotGothic16&display=swap";
@import "tailwindcss";

/*Si seulement Firefox avait un meilleur support CSS*/ 
@theme {
  --color-lavender-ouga: #cdb4db;
  --color-light-pink-ouga: #ffc8dd;
  --color-pink-ouga: #ffafcc;
  --color-light-blue-ouga: #bde0fe;
  --color-blue-ouga: #a2d2ff; 
  --color-darker-pink-ouga: #ff75a7;
  --color-darkerer-pink-ouga: #ff4287;

  --font-dotgothic: "DotGothic16", sans-serif
}

.crt {
  overflow: hidden;
  position: relative;
}
.crt:before,
.crt:after {
  display: block;
  pointer-events: none;
  content: "";
  position: absolute;
}
.crt:before {
  width: 100%;
  height: 2px;
  z-index: 2147483649;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0.7;
}
.crt:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483648;
  background: linear-gradient(
      to bottom,
      transparent 50%,
      rgba(0, 0, 0, 0.4) 51%
  );
  background-size: 100% 4px;
  animation: scanlines 1s steps(60) infinite;
}

@keyframes scanlines {
  0% {
      background-position: 0 50%;
  }
}
